@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Times New Roman', Times, serif;
  height: 100svh;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat Alternates';
  background-color: white;
  height: 100svh;
  width: 100vw;
  margin: 0px;
}

.navbar {
  width:100vw;
  height: 10svh;
  position: fixed;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3fr minmax(0, 1fr);
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 1);
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.5); */
}

.navTitle {
  padding-left: 20px;
  height: calc(20% + 1svh + 1vw);
  width: auto;
}

.navBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  font-size: calc(1svh + 0.25vw);
}

.navBtns > * {
  text-decoration: none;
  color: black;
  font-family: montserrat alternates;
  font-size: 2em;
  font-weight: bold;
}

.socialBtns {
  display: flex;
  flex-direction: row;
  gap: calc(2vw + 1svh);
  justify-content: right;
  align-items: center;
  font-size: calc(2svh + 1vw);
  color: black;
  padding-right: 20px;
}

.socialBtns > * {
  color: black;
}

.seperator {
  background-color: white;
  height: 3vh;
  width: 100%;
}

.seperatorLG {
  background-color: white;
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 0vsh;
}

@media (max-width: 1000px) {
  .navbar {
    padding-top: 5px;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }

  .navTitle {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: calc(20px + 4vw);
    padding-left: 12px;
  }

  .navBtns {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    justify-self: left;
    padding-left: 20px;
    display: none;
  }

  .navBtns > * {
    font-size: calc(12px);
  }

  .socialBtns {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: right;
    padding-right: 5vw;
  }

  .socialBtns > * {
    font-size: calc(20px + 1.5vw);
  }

}

.pageContainer {
  height: 90svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: flex-end;
}

.contact {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: flex-end;
  background-image: url('./contact.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.contact > * {
  color: rgb(0, 0, 0);;
}

.snip {
  overflow: hidden;
}
.landing {
  position: relative;
  height: 100svh;
  width: 100vw;
}

.wave {
  height: 50vh;
  width: 100vw;
  min-width: 1080px;
  position: absolute;
  overflow-x: hidden;
}

.topW {
  top: 10svh;
}

.bottomW {
  bottom: 0svh;
}

.waveSeperator {
  height: 20vh;
  width: 100vw;
  position: absolute;
  overflow-x: hidden;
  top: 200svh
}

.landingText {
  font-size: 5vw;
  position: absolute;
}

.name {
  font-size: 10vw;
  top: 10svh;
  margin: 0px;
  left: 5vw;
  font-family: 'raleway';
  color: black;
}

.lastName {
  top: 37svh;
  color: white;
}

.jobDesc {
  top: 80svh;
  right: 2vw;
  font-family: 'raleway';
}

@media (max-width: 1200px) and (min-height: 600px) {
  .padding {
    position: absolute;
    height: 0svh;
    width: 100vw;
    bottom: 0svh;
    background-color: white;
  }

  .jobDesc {
    top: 87.5svh;
    font-size: 6vw;
  }

  .wave {
    height: 80vw;
  }

  .contact {
    width: 1200px;
  }

  .name {
    font-size: 20vw;
  }

  .lastName {
    top: 65vw;
    font-size: 23vw;
  }
}

@media (max-width: 500px) {
  .padding {
    position: absolute;
    height: 15svh;
    width: 100vw;
    bottom: 0svh;
    left:0px;
    background-color: white;
  }

  .wave {
    height: 100vw;
  }

  .bottomW {
    bottom: 10svh;
  }

  .topW {
    top: 0svh;
  }

  .name {
    top: 20vw;
    font-size: 22vw;
  }

  .lastName {
    font-size: 28vw;
    top: 60vw;
  }

  .jobDesc {
    top: 85svh;
    font-size: 10vw;
    justify-self: center;
  }
  .contact {
    width: 800px;
    min-width: 800px;
  }
}

.projects {
  width: 100%;
  height: 100svh;
  background-image: url('./projects.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  }

  @media (min-width: 1201px) {
    .projects {
      display: grid;
      grid-template-columns: 4fr 4fr 4fr 2fr 1fr 4fr;
      grid-template-rows: 10svh 1fr 5fr 5fr 2fr 1fr;
    }
  }
  
  .flatTopWave {
    position: absolute;
    width: 100vw;
    height: 16svh;
    top: 100svh;
  }

.titleCard {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: minmax(0, 1fr) 3fr minmax(0, 2fr);
  grid-template-areas:
  'bar'
  'body'
  'footer';
  text-align: center;
  z-index: 0;
  background: rgba(255, 255, 255, 1);
  border-radius: calc(1vw + 1svh);
  box-shadow: rgba(0, 0, 0, 0.5) 0px calc(0.25vw + 0.25svh) calc(0.1vw + 0.1svh) calc(0.2vw + 0.2svh);
}

.mini {
  grid-column: 3 / 6;
  grid-row: 4 / 6;
  width: 100%;
  height: 100%;
}


.window {
  grid-area: bar;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: calc(1vw + 1svh) calc(1vw + 1svh) 0px 0px;
  background-color: #61746A;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media (min-width: 501px) {
  .window {
      grid-template-columns: 1fr 3fr 1fr;
  }

}

.search {
  text-align: left;
  padding-left: calc(0.5vw + 0.5svh);
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border-radius: calc(2vw + 2svh);
  color: rgba(0, 0, 0, 0.5);
}

.search > * {
  margin: calc(0.5vw + 0.5svh);
  font-size: calc(0.5vw + 0.5svh);
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(0.5svh + 1vw);
  font-size: calc(1.5svh + 1.5vw);
  color: white;
}

.titleBtns {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(0.2svh + 1vw);
}

.titleBtns > * {
  height: calc(1.5svh + 1.5vw);
  width: calc(1.5svh + 1.5vw);
  border-radius: 1000px;
}

.mini > .window > .arrows {
  font-size: calc(1vw + 1svh);
  gap: calc(0.3svh + 0.6vw);
}

.mini > .window > .titleBtns {
  gap: calc(0.3svh + 0.6vw);
}

.mini > .window > .titleBtns > * {
  width: calc(1vw + 1svh);
  height: calc(1vw + 1svh);
}

.mini > .window > .search > * {
  margin: calc(0.35vw + 0.35svh);
  font-size: calc(0.35vw + 0.35svh)
}



.minimize {
  background-color: #FEFBEC;

}

.viewport {
  background-color: #E7C4B0;
}

.close {
  background-color: #CD9D89;
}

.titleContent {
  font-family: 'montserrat alternates';
  grid-area: body;
  justify-self: center;
  align-self: center;
}

.titleCardTitle {
  font-family: 'lora';
}

.titleContent > * {
  font-size: calc(0.5vw + 1.5svh);
}

p {
  font-size: 0.92vw;
  margin: 0.2svh;
}

h2 {
  font-size: 1.5vw;
  margin: 0.2svh;
  margin-top: 0px;
    margin-bottom: 0.5svh;
}

@media (max-width: 1200px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 2fr 1fr;
    grid-template-rows: 10svh 1fr 30vw 30vw 15vw 1fr;
  }

  .window {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
  }

  .titleCard {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    border: none;
    box-shadow: black 0px 10px 5px 0px;
  }
  .mini {
    grid-column: 3 / 5;
    grid-row: 4 / 6;
  }

  .window {
    border: none;
  }

  .search > * {
    font-size: 1vw;
  }

  .mini > .window > .search > #searchText {
    font-size: 0.7vw;
  }
  
}

@media (max-width: 500px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 2fr 1fr 1fr;
    grid-template-rows: 10svh 4fr 5fr 3fr 2fr 2fr 4fr;
  }

  .titleCard {
    grid-column: 2 / 5;
    grid-row: 3 / 6;
    border-radius: 5vw;
    border: none;
    box-shadow: black 0px 3px 2px 0px;
  }

  .window {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
    border-radius: 5vw 5vw 0vw 0vw;
    border: none;
    gap: 2vw;
  }

  .mini {
    grid-column: 3 / 6;
    grid-row: 4 / 7;
  }

  .mini > .window {
    border-radius: 3vw 3vw 0vw 0vw;
  }

  .abs {
    left: 30%;
  }

  .main {
    left: 5%;
  }
  
  .titleBtns {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(0.2svh + 1vw);
  }

  .search > h4 {
    margin: 1em 1em 1em 0.2em;
    font-size: 1.4vw;
  }
  
  .titleBtns > * {
    height: calc(1.5svh + 1.5vw);
    width: calc(1.5svh + 1.5vw);
    border-radius: 100%;
  }
  
}

.aboutMe {
  font-family: lora;
  width: 100vw;
  height: 100svh;
  display: grid;
}

@media (min-width: 1201px) {
  .aboutMe{
    grid-template-columns: minmax(0, 32.5svh) minmax(0, 15svh) minmax(0, 15svh) minmax(0, 2fr) minmax(0, calc(5vw + 20svh)) minmax(0, 0.5fr);
    grid-template-rows: 10svh minmax(0, 0.75fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 0.5fr);
  }

  .education {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    background-color: white;
    padding: 2vw 2vw 0px 2vw;
  }

  .relevant {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
  background-color: white;
  padding: 0px 2vw 0px 2vw;
}

.group {
  grid-row: 5 / 6;
  grid-column: 5 / 6;
  background-color: white;
  padding: 0px 2vw 0px 2vw;
}
}

.relevant {
  background-color: white;
}

.aboutTitle {
  font-size: 12svh;
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  margin: 0px;
  margin-left: 10svh;
  align-self: center;
}

.skills {
  width: 100%;
  height: 50%;
  grid-row: 3 / 6;
  grid-column: 1 / 3;
  margin-left: 20px;
}

.techstack {
  font-size: 2vw;
  display: flex;
  gap: 1vw;
  color: #61746A;
  position: relative;
}


.techstack > *:hover{
  color: black;
}

.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.passion {
  grid-row: 3 / 5;
  grid-column: 2 / 4;
  margin-top: 10%;
  background-color: #61746A;
  color: white;
  padding: 1.5vw;
}

.bottomAbout {
  grid-row: 6 / 7;
  grid-column: 1 / 6;
  width: 100vw;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contactBtns {
  grid-column: 2 / 3;
  font-family: 'montserrat alternates';
  color: white;
  font-size: 3svh;
  padding-top: 5px;
}

.contactBtns > * > p {
 font-size: 0.92vw;
 margin-top: 0.25vw;
}

.contactBtns > * {
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.about {
  width: calc(100vw - 45svh);
  height: 100svh;
  position: absolute;
  right: 0;
  top: 200svh;
  z-index: -1;
  background-image: url('./about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  }

@media (max-width: 1200px) and (min-height: 600px) {
  
  .grid > .aboutMe {
    grid-template-columns: minmax(0, calc(15vw + 15svh)) minmax(0, calc(10vw + 10svh)) minmax(0, calc(5vw + 5svh)) minmax(0, 1fr);
    /* grid-template-rows: 10svh minmax(0, 1fr) minmax(0, 5fr) minmax(0, 1fr) calc(2vw + 8svh); */
    grid-template-rows: 10svh minmax(0, 1fr) minmax(0, 5fr) minmax(0, 1.5fr) minmax(0, 0.5fr) minmax(0, calc(5vw + 5svh));
    /* grid-template-rows: 10svh minmax(0, 1.5) minmax(0, 3fr) minmax(0, 2fr) minmax(0,1fr); */
  }

  .aboutTitle {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-size: calc(4vw + 4svh);
    padding: 0px;
    margin: 0px;
    margin-left: calc(1vw + 1svh);

  }

  p { 
    font-size: calc(0.5vw + 1svh);
    margin: 1svh auto 1svh auto;
  }
  h2 {
    font-size: calc(1vw + 2svh);
    margin: 1svh auto 1svh auto;
  }

  .skills {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .passion {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-bottom: 20%
  }

  .education {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    padding: 0px;
    margin-left: 20px;
  }

  .relevant {
    grid-column: 2 / 5;
    grid-row: 4 / 6;
    background-color: white;
    padding-top: 0px;
  }

  .education > h2, .relevant > h2 {
    margin-top: 0px;
  } 

  .group {
    margin-left: 20px;
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    background-color: white;
    padding-left: 0px;
  }

  .bottomAbout {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    display: inline;
    padding-top: 5px;
  }

  .contactBtns {
    font-size: 3vw;
  }

  .contactBtns > * > p {
    font-size: 12px;
    margin-top: 0px;
  }

  .about {
    width: calc(70vw - 20svh);
    background-position: top;
  }

  .techstack {
    font-size: calc(0.75vw + 1.5svh);
  }

  src
  .contact {
    background-image: url('./contact-min.jpg');
  }

  .projects {
    background-image: url('./projects-min.jpg');
  }

  .about {
    background-image: url('./about-min.jpg');
  }
}


/* many mobile devices seem to be effected when height goes below 600px, causing some default rules to overwrite mobile rules. */
@media (max-width: 500px){
  .grid > .aboutMe {
    grid-template-columns: minmax(0, 4fr) minmax(0, 4fr) minmax(0, 1fr);
    grid-template-rows: minmax(0, 10svh) minmax(0, 0.85fr) minmax(0, 4fr) minmax(0, 1fr) minmax(0, 0.5fr) minmax(0, 0.75fr);
  }

  .aboutTitle {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-size: 60px;
    margin: 0px;
    margin-left: 5vw;
  }

  p { 
    font-size: calc(8px)
  }

  h2 {
    font-size: 12px;
  }

  .passion {
    grid-column: 2 / 3;
    margin-bottom: 50%;
    padding: 1em;
  }

  .education {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-left: 5vw;
  }

  .relevant {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    padding-left: 1em;
  }

  .group {
    margin-left: 5vw;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    background-color: white;
  }

  .bottomAbout {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
  }

  .contactBtns {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    font-size: 16px;
  }

  .contactBtns > * > p {
    font-size: 8px;
  }

  .about {
    width: 40vw;
  }

  .techstack {
    font-size: calc(18px + 2vw);
  }
}